@using Abc.Data.Common
@using Abc.Infra
@using Abc.Shared.Code
@using Microsoft.AspNetCore.Components.QuickGrid
@using System.Reflection
@using System.Collections

@typeparam TEntity where TEntity : BaseEntity

<QuickGrid Class="table myTable" Items="Entities">
    @foreach (var p in typeof(TEntity).GetProperties())
    {
        @if (!show(p)) continue;
        <TemplateColumn>
            <HeaderTemplate>
                <div class="header-stack">
                    <a href="@headerHref(p.Name)">@iconed(p.Name)</a>
                    <form method="get" action="@BasePath">
                        <input type="hidden" name="@nameof(Query.SortDir)" value="@query.SortDir" />
                        <input type="hidden" name="@nameof(Query.PageSize)" value="@query.PageSize" />
                        <input type="hidden" name="@nameof(Query.Page)" value="1" />
                        <input type="hidden" name="@nameof(Query.SortBy)" value="@query.SortBy" />
                        <input type="hidden" name="@nameof(Query.SearchBy)" value="@p.Name" />
                        <input type="search" class="form-control form-control-sm"
                               name="@nameof(Query.SearchStr)" value="@searchStr(p.Name)" disabled="@isDisabled(p)" placeholder="Search..." />
                    </form>
                </div>
            </HeaderTemplate>
            <ChildContent Context="y">
                @(value(p, y))
            </ChildContent>
        </TemplateColumn>
    }
    <TemplateColumn Context="y">
        <a href="@($"{BasePath}/edit?id={y.Id}")">Edit</a> |
        <a href="@($"{BasePath}/details?id={y.Id}")">Details</a> |
        <a href="@($"{BasePath}/delete?id={y.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<MyTablePageNav Query="@query" TotalCount="@totalCount" CurrentUri="@nav.Uri" />


@code {
    private IQueryable<TEntity> Entities { get; set; }
    [Parameter] public IRepo<TEntity> Repo { get; set; }
    [Parameter] public string BasePath { get; set; }
    [Inject] private NavigationManager nav { get; set; }
    private int totalCount;
    private Query query;
    private string icon => query?.SortDir == "asc" ? " ▲" : query?.SortDir == "desc" ? " ▼" : string.Empty;
    private string iconed(string name) => (query?.SortBy == name) ? name + icon : name;
    private string searchStr(string name) => (query?.SearchBy == name) ? query.SearchStr : "";
    private bool isDisabled(PropertyInfo p) => p?.PropertyType != typeof(string);
    protected override async Task OnInitializedAsync()
    {
        if (Repo is null) return;
        var uri = nav.ToAbsoluteUri(nav.Uri);
        query = new UrlParams(uri).Parse();
        totalCount = await Repo.CountAsync(query);
        Entities = (await Repo.GetAsync(query)).AsQueryable();
    }
    private string value(PropertyInfo p, TEntity e)
    {
        var v = p?.GetValue(e);
        return v?.ToString() ?? string.Empty;
    }
    private bool show(PropertyInfo p)
    {
        if (p is null) return false;
        if (p.Name == nameof(NamedEntity.Id)) return false;
        var t = p.PropertyType;
        if (t == typeof(string)) return true;
        if (typeof(IEnumerable).IsAssignableFrom(t)) return false;
        if (t.IsClass) return false;
        return true;
    }
    private string headerHref(string name)
    {
        var n = ((query?.SortBy == name) && (query?.SortDir == "desc")) ? null : name;
        var d = query?.SortBy != name ? "asc" : "desc";
        var r = $"{BasePath}?Page=1&PageSize={query?.PageSize ?? 7}";
        
        r = string.IsNullOrEmpty(query?.SearchStr)
            ? r : r += $"&SearchBy={query.SearchBy}&SearchStr={query.SearchStr}";

        return (n is null) ? r : r + $"&SortBy={n}&SortDir={d}";
    }
}

<style>
    .myTable {
        table-layout: fixed;
        width: 100%;
        max-width: 100%;
    }

        .myTable td {
            white-space: normal;
            overflow-wrap: anywhere;
            word-break: break-word;
        }
</style>